
@{
    ViewBag.Title = "LoginPartia";
}

<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li class="navbar-text">Hello, @User.Identity.Name</li>
        <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Log In", "LogIn", "Account")</li>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
    }
</ul>

